
<h1>Word Counter</h1>
<form action="/results" method="post">
  <label for="word">Choose a word to count the number of times it is repeaterd in the below string: </label>
  <input type="text" name="word" required>
  <br>
  <br>
  <label for="str">Enter a String with the above entered word included: </label>
  <input type="text" name="str" required>
  <br>
  <br>
  <button type="submit" name="button">Check if it is repeated!</button>
</form>
