@{
  Layout = "_Layout";
}


<!--Form Begins--->

<form action="/results" method="post">

<h3> Word Counter</h3>
   <!--start-->
 <label  for="word">Choose a word to count the number of times it is repeaterd in the below string:</label>
 <input type="text" required="required" placeholder="Enter a word" name="word"/>
 <br>
 <br>
 <label class="control-label" for="str">Enter a Sentence with the above entered word included:</label>
 <input  type="text" required="required"  placeholder="Enter a Sentence"  name="str"/>
 <br>
 <br>
 <button class="btn btn-danger" type="submit" name="button">Check if it is repeated!</button>
</form>
