
@{
  Layout = "_Layout";
}
<h1 class="h1"> Word Counter</h1>
<div class="back-img">
</div>
<br>
<div class="panel panel-success">
  @if(Model.CountRepeats() == 0)
  {
    <h2>oops!!! the given Word "@Model.GetWord()" is not repeated in the Sentence!</h2>
  }
  else
  {
    <h2>The given Word "@Model.GetWord()" is repeated @Model.CountRepeats() times!</h2>
  }
</div>
<p><a href="/">Back Home</a></p>
