<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Super Awesome Site!</title>
    <link rel='stylesheet' href='/bootstrap/bootstap.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    @RenderBody()
  </body>
</html>
